#DB 
nokia.connection.username = nokia
nokia.connection.password = nokia123
nokia.connection.url = jdbc:oracle:thin:@localhost:1521:

#WS
nokia.ws.url = http://localhost:8088/mockCurrencyConvertorSoap12
nokia.ws.salary.operation = ConversionRate
nokia.ws.uri = http://www.webserviceX.NET/
nokia.ws.web.namespace = web
nokia.ws.empId.namespace = empId
nokia.ws.salary.namespace = ConversionRateResult

#CVS
nokia.csv.standard.file.seperator = ,
nokia.csv.new.line = \n

#FTP
nokia.ftp.hostname  = localhost
nokia.ftp.port 		= 21
nokia.ftp.username	= abdalla
nokia.ftp.password	= ********
nokia.ftp.source.file = E:\\Source\\empDetails.csv
nokia.ftp.destination.file = empDetailsDestination.csv